@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/*
RESTAURATION = PRUNE
POURPRE = RESERVATION
AQUA = INFORMATION
SOLEIL = EVENEMENTIEL

PRUNE = #ac2d62
SOLEIL = #f0b81b
POURPRE = #aa98c5
AQUA = #47a09c
BLANC = #ffffff
NOIR = #000000
*/

/* 
BREAKPOINTS

Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...} 

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} 

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...} 

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} 

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

*/

/*## FONTS & COLORS ##*/

:root {
    --prune: #ac2d62;
    --soleil: #f0b81b;
    --pourpre: #aa98c5;
    --aqua: #47a09c;
}

.amarante-regular {
    font-family: "Amarante", Georgia, serif;
    font-weight: 400;
    font-style: normal;
}

.jmedium {
    font-family: "Jost", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
}

.jregular {
    font-family: "Jost", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
}

h1,h2,h3 {
    margin: 1em 0;
    font-family: "Amarante", Georgia, serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: var(--aqua);
    font-family: "Jost", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
}

/*## GENERAL LAYOUT ##*/

header{
    text-align: center;
}

main,footer{
    padding: 1em .5em;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

section{
    margin: 1em 0.25em;
}

.hidden{
    display: none;
}

.border-bottom-soleil {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--soleil);   
}

.border-bottom-prune {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--prune);   
}

.border-bottom-pourpre {
    padding-bottom: 1em;
    border-bottom: 2px solid var(--pourpre);   
}
/*## IMAGES ##*/

.navbar-logo{
    height: auto;
    width: 112px;
}

.hero-logo{
    height: auto;
    max-width: 336px;
}

.horizon{
    margin-top: 1em;
    height: auto;
    width: 100%;
}

/*## CUSTOM NAVBAR ##*/

.navbar{
    width: 100%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    height: 40px;
    width: 40px;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
}

.nav-links-container{
    width: 100%;
}

.nav-links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-link{
    color: #ffffff;
    margin-top: 1em;
    border-bottom: 2px solid #ffffff;
}

.nav-link:hover{
    border-bottom: 2px solid var(--prune);
}

/*## CUSTOM STYLES ##*/

.call-to-action{
    margin: 1em 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{ /* 152/48 = 3.16 */
    height: 48px;
    width: 152px;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ffffff;
}

.button.cta-menu{
    background-color: var(--prune);
}

.button.cta-news{
    background-color: var(--soleil);
}

form {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form > input {
    width: 100%;
}

.cta-subscribe {
    background-color: var(--pourpre);
}